body {
  font-size: 1rem !important;
}

.card {
  box-shadow: none;
  transition: box-shadow 1s;
}
.card:hover {
  box-shadow: 5px 5px 15px #646363;
}

.btn {
  box-shadow: none;
  border: none !important;
  /* background-color: none; */
  transition: color box-shadow background-color 1s;
}
.btn:hover {
  border-radius: 10px;
  background-color: blue !important;
  box-shadow: 5px 5px 10px #646363;
  color: white !important;
  border: none !important;
}
@media only screen and (max-width: 600px) {
  #sidebar-wrapper {
    display: none;
  }
}
.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* @media only screen and (max-width: 1000px) {
  .container {
    margin: auto;
  }
} */
